# 忽略所有 .json 文件
*.json

# 忽略所有 .ts 文件
*.ts

# 忽略指定名称的文件夹
/local/
/logs/
/replay_recordings/
/saves/
/screenshots/
saves/新的世界/stats/fc56d7be-d9a5-4209-856f-8ae27e45b2bc.json
logs/latest.log
logs/debug.log
logs/customnpcs-latest.log
1.20.1-Forge_47.3.22-natives/jna1358178560851846213.dll
1.20.1-Forge_47.3.22-natives/jna1358178560851846213.dll.x
